# ------------------------
# Python
# ------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# ------------------------
# Virtual Environment
# ------------------------
venv/
env/
.venv/

# ------------------------
# Environment Variables (IMPORTANT)
# ------------------------
.env

# ------------------------
# Database Files
# ------------------------
*.db
*.sqlite3

# ------------------------
# Logs
# ------------------------
*.log

# ------------------------
# Jupyter Notebook checkpoints
# ------------------------
.ipynb_checkpoints/

# ------------------------
# VS Code / IDE
# ------------------------
.vscode/
.idea/

# ------------------------
# OS Files
# ------------------------
.DS_Store
Thumbs.db

# ------------------------
# Temporary files
# ------------------------
*.tmp
*.swp